.title {
    text-align: center;
    color: white;
    font-size: 4rem;
    margin: 3rem 0 0.5rem 0;
}

.container {
    max-width: 40rem;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(4px);
    border-radius: 1rem;
    
    padding: 2rem;
    text-align: center;
}

.toast {
    position: absolute;
    right: 10;
    top: 10;
}

@media(max-width: 884px){
    .title{
        font-size: 3rem;
    }
}

@media(max-width: 597px){
    .title {
        font-size: 2rem;
    }
    .toast{
        width: 10rem;
        top: 2;
    }
}